# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist
.next
out
*.tsbuildinfo

# Mobile/Expo
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production
.env.local
app/.env.local
**/.env*
# IDE/Editor
.idea
.vscode
*.swp
*.swo
.DS_Store
*.pem

# Misc
.vercel
.netlify
*.log
.turbo
/android
app/ios